# Ignore Python virtual environment directories
venv/
env/

# Ignore IDE or editor-specific files
.vscode/
.chainlit
.files
Lib/
Include/
Scripts/
share/
.idea/
*.cfg
*.sublime-project
*.sublime-workspace
.DS_Store
.gitignore

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files and directories
*.pyc
__pycache__/

# Ignore logs and temporary files
*.log
*.tmp
